* {

  margin: 0;
}
.appHeader {
 align-items: center;
  background-color:white;
  object-fit: contain;
  padding: 10px;
  border-bottom: 1px solid lightgrey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.app_headerImage{
  height: 25px;
}

.appBody{
  display: flex;
  flex-direction: column;
  height: max-content;
  background-color: #fafafa;
  padding: 10px;
  align-items: center;
  align-content: center;
}
.LoginLink{
  font-size: 20px;
  text-decoration: none;
}
.LoginDiv{
  background-color: lightseagreen;
  
}
.app{
  
}